@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
     font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared style */

*{
    margin: 0px;
}

:root{
    --bg-color: #FF900E10;
    --primari-color:#FF900E;
    --dark-2: #424242;
    --dark-3: #727272; 
}

.display{
    display: flex;
}

.btn{
    background-color: var(--primari-color);
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 8px;
}

/* header style */

.header-container{
    max-width: 100%;
    background-color: var(--bg-color) ;
}

/* nav style */

.nav{
    max-width: 80%;
    margin: 0px auto;
}
.nav-container{
    justify-content: space-between;
    padding: 50px 0px;
}

.nav-logo{
    font-size: 2.85rem;
    font-weight: bold;
}

.nav-content{
    gap: 50px;
    align-items: center;
}

.nav-content  li{
    list-style: none;
}

.nav-content li a{
    text-decoration: none;
    color: var(--dark-2);
    font-size: 1.1rem;
    font-weight: 500;
}

/* banner style */

.banner-container{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner-content *{
    margin-bottom: 30px;
}

.heading-text{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
}

.heading-discription{
    color: var(--dark-3);
    font-size: 1rem;
}

.banner-img img{
    max-width: 100%;
    margin-bottom: 50px;

}

/* main style */

main{
    max-width: 80%;
    margin: 0 auto;
}

main section{
    margin-top: 90px;
}

/* features style */

.features{
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.features-img img{
    width: 100%;
}

.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}

.features-content{
    max-width: 50%;
}

.features-content *{
    margin-bottom: 20px;
}

.features-heading{
    font-size: 2.85rem;
}
.quick{
    color: var(--dark-3);
}
.feature{
    color: var(--primari-color);
}

/* Responsive style */

/* mobile device */
@media screen and (max-width: 576px) {
    
    .nav{
        max-width: 95%;
    }
    .nav-container  {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .nav-content{
        padding: 0px;
        margin-top: 20px;
        flex-direction: column;
    }

    .heading-text{
        font-size: 2rem;
    }

    .features{
        flex-direction: column;
    }
    .features-img{
    grid-template-columns: repeat(1,1fr);
    }

    .features-content{
        max-width: 95%;
    }
}



/* tablet device */

@media screen and (min-width:576px) and (max-width: 992px ) {
    .nav-container  {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav-content {
        margin-top: 20px;
        justify-content: center;
    }

    .heading-text{
        font-size: 3rem;
    }

}